@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');
body {
    margin: 0;
    font-size: 16px;
    height: 100vh;
    width: 99vw;
    font-family: 'David Libre', serif;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

/* #EBECF0 */

header {
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: rgba(235, 236, 240, 0.5)
}

header h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.3rem;
    color: rgb(241, 240, 240);
}

#main {
    width: 100%;
    height: 70vh;
    margin: 40px 10px;
}

#main #listSet {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: flex-start;
    overflow-x: auto;
}

#main #listSet #addList {
    /* display: none; */
    min-width: 248px;
    margin-right: 10px;
    padding: 10px 10px;
    border-radius: 2px;
    font-size: 0.9rem;
    color: white;
    background-color: rgba(135, 135, 136, 0.4);
}

#main #listSet #addList:hover {
    background-color: rgba(180, 180, 180, 0.6);
}

#main #listSet #addListForm {
    display: none;
    min-width: 248px;
    padding: 8px 10px;
    border-radius: 2px;
    background-color: rgb(235, 236, 240);
    border-radius: 5px;
}

#main #listSet #addListForm #titleListForm {
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    box-shadow: inset 0 0 0 2px #0079bf;
    background-color: #fff;
    margin: 0;
    font-size: 0.9rem;
    padding: 8px 12px;
    border-radius: 2px;
    border: none;
    font-weight: lighter;
    font-family: 'David Libre', serif;
}

#main #listSet #addListForm #titleListForm:focus {
    outline: none;
}

#main #listSet #addListForm #inputAddList {
    height: 32px;
    margin-top: 4px;
}

#main #listSet #addListForm #inputAddList input {
    background-color: #5aac44;
    border: none;
    float: left;
    height: 30px;
    padding: 4px 0;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: lighter;
    font-family: 'David Libre', serif;
    line-height: 20px;
    padding: 6px 12px;
    text-align: center;
    color: white;
}

#main #listSet #addListForm #inputAddList input:hover {
    background-color: #70cc56;
}

#main #listSet #addListForm #inputAddList #closeFormList {
    font-size: 2.5rem;
    font-weight: lighter;
    height: 32px;
    line-height: 32px;
    width: 32px;
    margin-left: 0.8rem;
    cursor: pointer;
    color: #42526e;
    ;
}

#main #listSet #addListForm #inputAddList #closeFormList:hover {
    color: #000f29;
}

/* LIST */

#main #listSet .listContent {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: 3px;
    display: flex;
    flex-direction: column;
    min-width: 272px;
    max-height: 100%;
    margin-right: 10px;
}

#main #listSet .listContent .listHeader {
    width: 90%;
    margin: 0 auto;
    padding: 5px 6px;
    height: 35px;
    position: relative;
}

#main #listSet .listContent .listHeader h1 {
    float: left;
    text-indent: 4px;
    font-size: 1.1rem;
    line-height: 35px;
    font-weight: bolder;
}

#main #listSet .listContent .listHeader .deleteList {
    cursor: pointer;
    line-height: 35px;
    float: right;
}

/* ADD CARD LIST */

#main #listSet .listContent .addCard {
    display: block;
    width: 90%;
    margin: 8px auto;
    padding-left: 8px;
    height: 30px;
    line-height: 30px;
    font-weight: lighter;
    color: #5e6c84;
}

#main #listSet .listContent .addCard:hover {
    color: #474e5c;
    background-color: #d5d6da;
    border-radius: 3px;
}

/* ADD FORM LIST */

#main #listSet .listContent .addCardForm {
    display: none;
    width: 90%;
    box-sizing: border-box;
    margin: 8px auto;
    font-weight: lighter;
    color: #5e6c84;
}

#main #listSet .listContent .addCardForm textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px;
    max-height: 50px;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    color: #474e5c;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #d5d6da;
}

#main #listSet .listContent .addCardForm textarea:focus {
    border: none;
    outline: none;
}

#main #listSet .listContent .addCardForm .inputAddCard {
    height: 32px;
    margin-top: 4px;
}

#main #listSet .listContent .addCardForm .inputAddCard input {
    background-color: #5aac44;
    border: none;
    float: left;
    height: 30px;
    padding: 4px 0;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: lighter;
    font-family: 'David Libre', serif;
    line-height: 20px;
    padding: 6px 12px;
    text-align: center;
    color: white;
}

#main #listSet .listContent .addCardForm .inputAddCard input:hover {
    background-color: #70cc56;
}

#main #listSet .listContent .addCardForm .inputAddCard .closeFormCard {
    font-size: 2.5rem;
    font-weight: lighter;
    height: 32px;
    line-height: 32px;
    width: 32px;
    margin-left: 0.8rem;
    cursor: pointer;
    color: #42526e;
}

#main #listSet .listContent .addCardForm .inputAddCard .closeFormCard:hover {
    color: #000f29;
}

/* CARD IN THE LIST */

#main #listSet .listContent .cardContent {
    box-sizing: border-box;
    width: 100%;
    padding: 2px 8px;
    display: flex;
    flex-direction: column;
}

#main #listSet .listContent .cardContent .card {
    margin-bottom: 6px;
}

#main #listSet .listContent .cardContent .card header {
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 1px 1px 1px #d5d6da;
    border-radius: 3px;
    text-align: left;
    padding: 10px 8px;
}

#main #listSet .listContent .cardContent .card header:hover {
    background-color: #f8f8f8;
}

/* EDIT CARD MODAL */

#editCard {
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 95%;
    color: #172b4d;
    background-color: #f4f5f7;
    border-radius: 2px;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    height: 600px;
    padding: 20px;
}

@media only screen and (min-width: 780px){
    #editCard {
        max-width: 644px;
    }
}